    <!-- Banner -->
    <section class="banner banner-default parallax-window" data-parallax="scroll" data-image-src="/sites/all/themes/druplico/templates/img/bg_header_default.png">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="text-light">Informações Legais</h3>
              </div>
            </div>
          </div>
    </section>

    <!-- Content -->
    <section class="bg-internas container-internas">
      <div class="container py-5">
        <div class="row d-flex flex-wrap"> 
               
          <div class="col-sm-6 col-lg-8 pb-5">
            <div class="box">
                {{page.content}}
            </div>

          </div>

          <!-- Sidebar -->
          <div class="col-sm-6 col-lg-4">
              <h3>Mais lidas</h3>
              <div class="box">
                  <div class="row">
                      <div class="col-md-4">
                            <img src="/sites/all/themes/druplico/templates/img/pic.png">
                      </div>
                      <div class="col-md-8">
                          <h5 class="text-danger">Movimento</h5>
                          <h4>O BEM-ESTAR NOS DIAS DE HOJE É SOBRE ESTAR BEM FÍSICAMENTE</h4>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>